body{
    background-color: #082032;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    
    
}
body::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 100%);
}
body::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(10% at 10% 50%);
    

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #2C394B;
    width: 800px;
    height: 800px;
    margin: auto;
    border-radius: 20px;
    margin-top: 60px;
    padding-top: 0px;
    font-family: 'Courier New', Courier, monospace;

}
.head-section h1{
    color: lightgrey;
}
.head-section input{
    padding-left: 40px;
    border-radius: 20px;
    background:#334756 ;
    border:none;
    color: lightgrey;
    width: 600px;
    height: 60px;
    font-size: 20px;
   
  
}
.head-section h2{
    color: lightgrey;
}
#plus{
    padding: 16px;
    border-radius: 10px;
    background:#FF4C29 ;
    border:none;
    color: lightgrey;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.list{
    height: 500px;
    overflow-y:scroll;
    width: 100%;
    
}
.list ul{
    padding:0;
    margin: 30px;
    position: relative;
    max-width: 100%;

  
}

 .list-content{
    background: #334756;
    border-radius: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: lightgrey;
    font-size: 20px;
    position:relative;
    word-wrap: break-word;
    max-width: 100%;
    list-style-type: decimal;


    
}

 .list-content .delete{
    background:#FF4C29 ;
    border-radius: 20px;
    padding: 12px;
    font-size: 14px;
    color: lightgrey;
    border:none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    
    
   

  
}

 footer{
     margin: 20px;
    
 }
 footer #clearAll{
     padding: 14px;
     border: none;
     background: #FF4C29;
     border-radius: 20px;
     font-size: 15px;
     color: lightgrey;

 }

@media screen and (max-width:390px) {

    body{
        background-color: #082032;
        font-family: 'Courier New', Courier, monospace;

     }
     body::after{
         display: none;
     }
     body::before{
         display:none;
     }
    .container
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #2C394B;
    max-width: 90%;
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 0px;
    font-family: 'Courier New', Courier, monospace;

}
.head-section input{
    padding-left: 40px;
    border-radius: 20px;
    background:#334756 ;
    border:none;
    color: lightgrey;
    max-width: 60%;
    height: 60px;
    font-size: 16px;
   
  
}
.list-content{
    background: #334756;
    border-radius: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: lightgrey;
    font-size: 16px;
    position:relative;
    word-wrap: break-word;
    max-width: 100%;
    list-style-type: decimal;


    
}


    
}
